{% extends "base.html" %}
{% block title %}About Mark Ridgwell.co.uk{% endblock %}
{% block title1 %}About Mark Ridgwell.co.uk{% endblock %}
{% block title2 %}About Mark Ridgwell.co.uk{% endblock %}
{% block title3 %}About Mark Ridgwell.co.uk{% endblock %}
{% block title4 %}About Mark Ridgwell.co.uk{% endblock %}
{% block head %}
<!-- Head block -->
{% endblock %}
{% block body %}
<!-- Body block -->
<div class="jumbotron">
   <h1>About</h1>
    
    <h2>Copyright and usage restrictions</h2>
    All pictures are copyright &copy; 1998-{{year}} Mark Ridgwell.
    <br />
    If you want to use the pictures for personal use, (i.e. as your windows desktop background) please feel free to.
    <br />
    If you want to use the picture commercially please <a href="/contact/" title="Contact me">contact</a> me.
    <h2>About Me</h2>
    I am passionate about developing high quality software that is simple and easy to
    use. I enjoy taking photos and from this work on the Diffractor project which aims
    to help make sense of and organize a photo library. Enabling you to find and share
    the events of the past before they get lost in memory.
    <br />
    I often take photos of local events like '<a href="/events/moreton-boxing-day-tug-of-war-and-games/">The Annual Boxing-Day Tug of War at Moreton, Essex</a>'.
    <br />
    <h3>Other sites</h3>
    <ul>
        <li><a href="http://www.diffractor.com/">Diffractor</a> - lean media management.</li>
        <li><a href="http://www.markridgwell.co.uk/" title="Photo Gallery">Photo gallery.</a></li>
        <li><a href="http://www.markridgwell.com/" title="Projects">Current Projects.</a></li>
        <li><a href="http://blog.markridgwell.co.uk/" title="My blog">Syntactic Spaghetti.</a></li>
        <li><a href="http://about.me/mark.ridgwell/#" title="About Me">About Me</a></li>        
    </ul>
    <br />
</div>
{% endblock %}
