{% extends "base.html" %}
{% block title %}About Mark Ridgwell.co.uk{% endblock %}
{% block title1 %}About Mark Ridgwell.co.uk{% endblock %}
{% block title2 %}About Mark Ridgwell.co.uk{% endblock %}
{% block title3 %}About Mark Ridgwell.co.uk{% endblock %}
{% block title4 %}About Mark Ridgwell.co.uk{% endblock %}
{% block head %}
<!-- Head block -->
{% endblock %}
{% block body %}
<!-- Body block -->
<div class="jumbotron">
    <h1>About</h1>



    <h2 id="'licence">Copyright and usage restrictions</h2>

    <p>All pictures are copyright &copy; 1998-{{year}} Mark Ridgwell all rights reserved.</p>

    <p>Generally if you want to use any of the photos for personal use please feel free to. If I have taken a photo of
        you or your event I am happy to provide you with higher quaility images than I put on my website.</p>

    <p>If you want to use the picture commercially please <a href="/contact/" title="Contact me">contact</a> me.</p>

    <h2>About Me</h2>
    <p><a href="/contact/"><img src="https://www.gravatar.com/avatar/2bcb2f095eec1b7a183072e20c125467" width="80" height="80" alt="Mark Ridgwell" style="float:left; margin-right:10px; margin-bottom:5px;"/></a>
    I am passionate about developing high quality software that is simple and easy to
    use. I enjoy taking photos and from this work on the Diffractor project which aims
    to help make sense of and organize a photo library. Enabling you to find and share
    the events of the past before they get lost in memory.
    <br/>
    I often take photos of local events like '<a href="/events/moreton-boxing-day-tug-of-war-and-games/">The Annual
    Boxing-Day Tug of War at Moreton, Essex</a>'.
    </p>
    <br/>

    <h3>Other sites</h3>
    <ul>
        <li><a href="http://www.diffractor.com/">Diffractor</a> - lean media management.</li>
        <li><a href="http://blog.markridgwell.co.uk/" title="My blog">Syntactic Spaghetti.</a></li>
        <li><a href="http://about.me/mark.ridgwell/" title="About Me">About Me</a></li>
        <li><a href="https://www.youtube.com/user/credfeto" title="Youtube">YouTube</a> Videos</li>
    </ul>
    <h3>Social Media</h3>
    <ul>
        <li><a href="https://www.facebook.com/mark.ridgwell.photos">Facebook</a>
        <li><a href="https://plus.google.com/+MarkridgwellCoUk">Google+</a>
        <li><a href="https://twitter.com/credfeto">Twitter</a></li>
        <li><a href="https://alpha.app.net/credfeto">App.net</a></li>
    </ul>
    <br/>
</div>
{% endblock %}
