<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mark Ridgwell" />
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:type" content="article" />
    <meta name="title" content="{% block title1 %}{% endblock %}" />    
    <meta property="og:title" content="{% block title2 %}{% endblock %}" />
    <meta property="og:site_name" content="www.markridgwell.co.uk"/> 
    <meta name="twitter:site" content="@credfeto">
    <meta name="twitter:creator" content="@credfeto">
    <meta name="twitter:title" content="{% block title3 %}{% endblock %}">
    <meta name="application-name" content="{% block title4 %}{% endblock %}"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/bootstrap/css/navbar-fixed-top.css" rel="stylesheet" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/favicon.png">
    <link type="text/plain" rel="author" href="https://www.markridgwell.co.uk/humans.txt" />
    <link href="https://www.markridgwell.co.uk{{path}}" rel="canonical" />
    <script src="/static/js/fix-iemobile-responsive.js"></script>    
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link href="/static/site.css" rel="stylesheet" />
    {% block head %}{% endblock %}    
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Mark Ridgwell</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li {% ifequal path "/albums/" %}class="active"{% endifequal %}><a href="/albums/">Albums</a></li>
              <li {% ifequal path "/places/" %}class="active"{% endifequal %}><a href="/places/">Places</a></li>
              <li {% ifequal path "/events/" %}class="active"{% endifequal %}><a href="/events/">Events</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li {% ifequal path "/contact/" %}class="active"{% endifequal %}><a href="/contact/">Contact</a></li>            
              <li {% ifequal path "/about/" %}class="active"{% endifequal %}><a href="/about/">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    
    <div id="container">
        {% block body %}{% endblock %}
    </div>
    
    <script src="/static/js/jquery/jquery-1.10.2.min.js"></script>    
    <script src="/static/socialshareprivacy/javascripts/jquery.socialshareprivacy.min.autoload.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>        
</body>
</html>
