<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
	<div id="container">
		<div id="nav">
			<div class="header">
				Header
			</div>
			<div class='menu_group'>
				<ul>
					<li{% ifequal path "/" %} id="current"{% endifequal %}><a href="/">Home</a></li>
				</ul>
			</div>
		</div>
		<div id="content-bg">
			<div id="content">
				{% block body %}{% endblock %}
			</div>
		</div>
		<div id="footer" >

		</div>
	</div>
</body>
</html>
