<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/bootstrap/css/navbar-fixed-top.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
	{% block head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Mark Ridgwell</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li {% ifequal path "/albums/>" %}class="active"{% endifequal %}><a href="/albums/">Albums</a></li>
              <li {% ifequal path "/places/>" %}class="active"{% endifequal %}><a href="/places/">Places</a></li>
              <li {% ifequal path "/events/>" %}class="active"{% endifequal %}><a href="/events/">Events</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li {% ifequal path "/contact/>" %}class="active"{% endifequal %}><a href="/contact/">Contact</a></li>            
              <li {% ifequal path "/about/" %}class="active"{% endifequal %}><a href="/about/">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    
    <div id="container">
        {% block body %}{% endblock %}
    </div>
    
    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
