{% extends "base.html" %}
{% block title %}Contact Mark Ridgwell{% endblock %}
{% block title1 %}Contact Mark Ridgwell{% endblock %}
{% block title2 %}Contact Mark Ridgwell{% endblock %}
{% block title3 %}Contact Mark Ridgwell{% endblock %}
{% block title4 %}Contact Mark Ridgwell{% endblock %}
{% block head %}
<!-- Head block -->
{% endblock %}
{% block body %}
<!-- Body block -->
<div class="jumbotron">
    <h1>Contact Mark Ridgwell</h1>

    Please use the contact form on my <a href="http://about.me/mark.ridgwell/">about.me</a> page or my <a
        href="https://www.facebook.com/mark.ridgwell.photos">Facebook</a> page.
</div>
{% endblock %}
