{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block title1 %}{{title}}{% endblock %}
{% block title2 %}{{title}}{% endblock %}
{% block head %}
<!-- Head block -->
<meta name="Gallery.Id" content="{{hash}}" />
<meta name="Gallery.Path" content="{{path}}" />
{% if item %}
    {% if item.location %}
            <meta property="og:latitude" content="{{item.location.lat}}" />
<meta property="og:longitude" content="{{item.location.lon}}" />
<meta name="geo.position" content="{{item.location.lat}};{{item.location.lon}}" />
<meta name="ICBM" content="{{item.location.lat}}, {{item.location.lon}}" />
{% endif %}
    {% if item.description %}
        <meta name="description" content="{{item.description}}" />
        <meta property="og:description" content="{{item.description}}" />
{% endif %}
{% endif %}
{% if thumbnailUrl %}
<meta property="og:image" content="{{thumbnailUrl}}" itemtype="http://schema.org/ImageObject" itemprop="thumbnailUrl" />
{% endif %}
{% if fullImageUrl %}
<meta property="og:image" content="{{fullImageUrl}}" itemtype="http://schema.org/thumbnailUrl" itemprop="contentURL" />

{% endif %}
{% endblock %}
{% block body %}
<!-- Body block -->
<div class="jumbotron">
    <h1>{{title}}</h1>
    {% if item %}
    {% if item.description %}<p>{{item.description}}</p>{% endif %}
    {% endif %}
</div>
<div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-3 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" data-social-share-privacy='true'></div>
    <div class="col-xs-9 col-sm-9 ">    
    {% if item %}
    {% if children %}
    
    {% for child in children %}
    <a href="{{child.path}}">
        <div class="folderItem">
            {% if child.type = 'photo' %}
            {% if child.thumbnailUrl %}
            <img src="{{child.thumbnailUrl}}" width="{{child.thumbnail.width}}" height="{{child.thumbnail.height}}" alt="{{child.title}}" title="{{child.title}}"/>
            {% endif %}
            {% endif %}
            {{child.title}}                
        </div>
    </a>
    {% endfor %}
    {% endif %}
        {% if resizecss %}
        <div itemscope itemtype="http://schema.org/ImageObject">
            {{resizecss|safe}}
            <div class="image"></div>
            <span itemprop="name">{{title}}</span> by <a rel="author" href="https://plus.google.com/+MarkRidgwell/?rel=author" itemprop="author">Mark Ridgwell</a>
                                
            {% if item.description %}
                <span itemprop="description">{{item.description}}</span>
            {% endif %}            
        </div>
    {% endif %}
    {% endif %}
    </div>
    
</div>
<script type="application/x-social-share-privacy-settings">{"path_prefix":"{{staticurl}}/socialshareprivacy/","layout":"box","uri":"https://www.markridgwell.co.uk{{path}}",
    "order": ['facebook', 'twitter', 'gplus', 'linkedin', 'stumbleupon'],
    "services":{"buffer":{"status":false},"disqus":{"status":false},"fbshare":{"status":false},"flattr":{"status":false},"hackernews":{"status":false},"linkedin":{"status":false},"reddit":{"status":false},"xing":{"status":false}}}</script>

{% endblock %}
