{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block title1 %}{{title}}{% endblock %}
{% block title2 %}{{title}}{% endblock %}
{% block title3 %}{{title}}{% endblock %}
{% block title4 %}{{title}}{% endblock %}
{% block head %}
<!-- Head block -->
<meta name="Gallery.Id" content="{{hash}}" />
<meta name="Gallery.Path" content="{{path}}" />
{% if item %}
    {% if item.location %}
            <meta property="og:latitude" content="{{item.location.lat}}" />
<meta property="og:longitude" content="{{item.location.lon}}" />
<meta name="geo.position" content="{{item.location.lat}};{{item.location.lon}}" />
<meta name="ICBM" content="{{item.location.lat}}, {{item.location.lon}}" />
{% endif %}
    {% if item.description %}
        <meta name="description" content="{{item.description}}" />
        <meta property="og:description" content="{{item.description}}" />
        <meta name="twitter:description" content="photo" />
{% endif %}
{% endif %}
{% if thumbnailUrl %}
<meta property="og:image" content="{{thumbnailUrl}}" itemtype="http://schema.org/ImageObject" itemprop="thumbnailUrl" />
{% endif %}
{% if fullImageUrl %}
<meta property="og:image" content="{{fullImageUrl}}" itemtype="http://schema.org/thumbnailUrl" itemprop="contentURL" />
<meta name="twitter:card" content="photo" />
<meta name="twitter:image:src" content="{{fullImageUrl}}" />
<meta name="twitter:image:width" content="{{fullImageWidth}}" />
<meta name="twitter:image:height" content="{{fullImageHeight}}" />
{% else %}
<meta name="twitter:summary" content="photo">
{% endif %}
{% if previousSibling %}<link href="https://www.markridgwell.co.uk{{previousSibling.url}}" rel="prev" />{% endif %}
{% if nextSibling %}<link href="https://www.markridgwell.co.uk{{nextSibling.url}}" rel="next" />{% endif %}
{% endblock %}
{% block body %}
<!-- Body block -->
<div class="jumbotron">
    <h1>{{title}}</h1>
    {% if item %}
    {% if item.description %}<p>{{item.description}}</p>{% endif %}
    {% endif %}
</div>


<div class="side-bar" role="navigation" data-social-share-privacy='true'></div>

<div class="sibling-navigation row">
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="sibling-lhs">
            {% if firstSibling %}<a href="{{firstSibling.url}}" title="{{firstSibling.title}}"><span class="sibling-item">First</span></a>{% endif %}
            {% if previousSibling %}<a href="{{previousSibling.url}}" title="{{previousSibling.title}}"><span class="sibling-item">Previous</span></a>{% endif %}
        </span>
        <span class="sibling-rhs">
            {% if nextSibling %}<a href="{{nextSibling.url}}" title="{{nextSibling.title}}"><span class="sibling-item">Next</span></a>{% endif %}
            {% if lastSibling %}<a href="{{lastSibling.url}}" title="{{lastSibling.title}}"><span class="sibling-item">Last</span></a>{% endif %}
        </span>
    </div>
</div>
<div class="row">    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% if item %}
        {% if children %}
    
        {% for child in children %}
        <a href="{{child.path}}">
            <div class="folderItem">            
                {% if child.type = 'photo' %}
                {% if child.thumbnailUrl %}
                <div class="photo">
                    <div class="box">
                        <img src="{{child.thumbnailUrl}}" width="{{child.thumbnail.width}}" height="{{child.thumbnail.height}}" alt="{{child.title}}" title="{{child.title}}"/>
                    </div>
                    <span class="title">{{child.title}}</span>
                </div>
                {% endif %}
                {% else %}            
                <div class="folder">
                    <div class="front"></div>
                    <div class="folder-content1"></div>
                    <div class="folder-content2"></div>
                    <div class="folder-content3"></div>
                    <div class="back"></div>           
                </div>
                <span class="title">{{child.title}}</span>    
                {% endif %}            
            </div>
        </a>
        {% endfor %}
        {% endif %}
        {% if resizecss %}
        <div itemscope itemtype="http://schema.org/ImageObject">
            {{resizecss|safe}}
            <div class="image"></div>
            <span itemprop="name">{{title}}</span> by <a rel="author" href="https://plus.google.com/+MarkRidgwell/?rel=author" itemprop="author">Mark Ridgwell</a>
                                
            {% if item.description %}
            <span itemprop="description">{{item.description}}</span>
            {% endif %}            
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
<div class="sibling-navigation row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <span class="sibling-lhs">
            {% if firstSibling %}<a href="{{firstSibling.url}}" title="{{firstSibling.title}}"><span class="sibling-item">First</span></a>{% endif %}
            {% if previousSibling %}<a href="{{previousSibling.url}}" title="{{previousSibling.title}}"><span class="sibling-item">Previous</span></a>{% endif %}
        </span>
        <span class="sibling-rhs">
            {% if nextSibling %}<a href="{{nextSibling.url}}" title="{{nextSibling.title}}"><span class="sibling-item">Next</span></a>{% endif %}
            {% if lastSibling %}<a href="{{lastSibling.url}}" title="{{lastSibling.title}}"><span class="sibling-item">Last</span></a>{% endif %}
        </span>        
    </div>
</div>
<script type="application/x-social-share-privacy-settings">{"path_prefix":"{{staticurl}}/socialshareprivacy/","layout":"box","uri":"https://www.markridgwell.co.uk{{path}}",
    "order": ['facebook', 'twitter', 'gplus', 'linkedin', 'stumbleupon'],
    "services":{"buffer":{"status":false},"disqus":{"status":false},"fbshare":{"status":false},"flattr":{"status":false},"hackernews":{"status":false},"linkedin":{"status":false},"reddit":{"status":false},"xing":{"status":false}}}</script>

{% endblock %}
