{% extends "base.html" %}
{% block title %}Not found{% endblock %}
{% block title1 %}Not found{% endblock %}
{% block title2 %}Not found{% endblock %}
{% block title3 %}Not found{% endblock %}
{% block title4 %}Not found{% endblock %}
{% block head %}
<!-- Head block -->
{% endblock %}
{% block body %}
<!-- Body block -->
<div class="jumbotron">
    <h1>Not found</h1>
    <p>Sorry, could not find the page you were looking for.</p>
</div>

<div class="row">
    <div class ="container">
        <script>
            (function () {
                var cx = '005166718619035407522:WMX-138509273';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
    </div>

    {% if track %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display: inline-block; width: 970px; height: 90px"
        data-ad-client="ca-pub-3898732689274219"
        data-ad-slot="6573739813"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {% endif %}
</div>
{% endblock %}
