<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>Mark's Photos</title>
        <link>
        {{host}}/?utm_content=rss&amp;utm_source=mtr&amp;utm_medium=rss&amp;utm_campaign=rss</link>
        <description>Photos taken by Mark Ridgwell.</description>
        <language>en-us</language>
        <pubDate>{{pubdate|date:"D, d M Y H:i:s O"}}</pubDate>
        <lastBuildDate>{{builddate|date:"D, d M Y H:i:s O"}}</lastBuildDate>
        <ttl>60</ttl>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <atom:link href="{{host}}/rss.xml" rel="self" type="application/rss+xml"/>
        <atom:link rel="hub" href="http://markridgwell.superfeedr.com/"/>
        <generator>Markridgwell</generator>
        {% for photo in items %}
        <item>
            <title>{{photo.title}}</title>
            <link>{{host}}{{photo.path}}?utm_content=rss&amp;utm_source=mtr&amp;utm_medium=rss&amp;utm_campaign=rss</link>{%if photo.description %}<description>{{photo.description}}</description>{% endif %}
            <pubDate>{{photo.updated|date:"D, d M Y H:i:s O"}}</pubDate>
            <guid>{{host}}{{photo.path}}</guid>
        </item>
        {% endfor %}
    </channel>
</rss>