<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark Ridgwell Photography</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Mark Ridgwell Photography, a Harlow based music and events photographer." name="description">
    <meta content="Harlow, Essex, Photographer, Music, Live Music, Events" name="keywords">
    <meta content="Mark Ridgwell" name="author">
    <meta content="@credfeto" name="twitter:site">
    <meta content="@credfeto" name="twitter:creator">
    <% for (let css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
    <% } %>
</head>
<body>
<ul id="images" class="cb-slideshow">
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Sunset in forest, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Bridge at Moorhen marina, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Sunset, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Sunset, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Barley, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Teasel, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Pine, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Field of dasies, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Tree, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>River Stort, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Sunset, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Swans on River Stort, Harlow</h3>
        </div>
    </li>
</ul>
<div class="container">
    <header><h1>Mark Ridgwell Photography</h1>
        <h2>Photographer based in Harlow, Essex.</h2>
        <p>
        <ul class="contact">
            <li class="facebook"><a href="https://www.facebook.com/mark.ridgwell.photos/">Facebook</a></li>
            <li class="twitter"><a href="https://twitter.com/mtrphotos">Twitter</a></li>
            <li class="instagram"><a href="https://www.instagram.com/markridgwellphotography/">Instagram</a></li>
        </ul>
        </p></header>
</div>
</body>
</html>