<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark Ridgwell Photography</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Mark Ridgwell Photography, a Harlow based music and events photographer." name="description">
    <meta content="Harlow, Essex, Photographer, Music, Live Music, Events" name="keywords">
    <meta content="Mark Ridgwell" name="author">
    <meta content="@credfeto" name="twitter:site">
    <meta content="@credfeto" name="twitter:creator">
    <% for (let css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
    <% } %>
</head>
<body>
<ul id="images" class="cb-slideshow">
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>King Leviathan at the Dev, Camden</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Satan's Empire at The Dev, Camden</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>The Naked Apes at The Shark, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>One Floyd at The GPCA, Harlow</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Archive at The Brentwood Festival</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Archive At The Brentwood Festival</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Gun Metal Grey at The Crown In Roneo Corner, Romford</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Gun Metal Grey at The Crown In Roneo Corner, Romford</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>JOANovARC at The Black Heart, Camden</h3>
        </div>
    </li>
    <li>
        <span>&nbsp;</span>
        <div>
            <h3>Beat The Beast At The Herald, Harlow</h3>
        </div>
    </li>
</ul>
<div class="container">
    <header><h1>Mark Ridgwell Photography</h1>
        <h2>Photographer based in Harlow, Essex.</h2>
        <p>
        <ul class="contact">
            <li class="facebook"><a href="https://www.facebook.com/mark.ridgwell.photos/">Facebook</a></li>
            <li class="twitter"><a href="https://twitter.com/mtrphotos">Twitter</a></li>
            <li class="instagram"><a href="https://www.instagram.com/markridgwellphotography/">Instagram</a></li>
        </ul>
        </p></header>
</div>
</body>
</html>